*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #1e3048;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
header .header_logo img{
    width: 50px;
}
header .header_nav{
    display: flex;
    gap: 20px;
}
header .header_nav a{
    color: white;
    text-decoration: none;
}
header .header_nav a:hover{
    color: #83de2a;
}
header .header_cta a{
    background-color: #83de2a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
/* HERO SECTION */
.hero{
    background-image: url("/images/helmet\ shop.jpg");
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;/* centers horizontally  */
    align-items: center;/* centers vertically */
    gap: 20px;
    color: white;
    position: relative; /* to position the ::before element absolutely within hero */
}
/* the glassmorphism overlay */
.hero::before{/* the overlay is just on the hero section otherwise it will go on the whole page */
    content: "";/* this creates a virtual box before the hero content */
    position: absolute; /* relative to hero  */
    inset: 0;/* top 0 bottom 0 left 0 right 0 */
    backdrop-filter: blur(3px);/* the higher you the blurrier ir becomes */
    background-color: rgba(5, 5, 5, 0.4) /* black with 40% opacity */
}
.hero h1,h4,a{
    z-index: 1;
} 
.hero span{
    z-index: 1;
    color: #83de2a;
}
.hero a{
    background-color: #83de2a;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 900;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

/* ABOUT SECTION */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    gap: 4rem;
    margin: auto;
    width: 80%;
 
}
.about .aboutusparagraph{
    width: 50%;
}
.about .aboutusimage {
    width: 50%;
}
.about .aboutusparagraph p{
    margin-top: 20px;
}
.about .aboutusparagraph span{
    color: #83de2a;
}
.about .aboutusparagraph b{
    font-weight:900;
}
.about .aboutusimage img{
    width: 100%;
    border-radius: 20px;
}

/* BIKE EXPERIENCE SECTION */
.bike_experience{
    background-color: #e5e7eb5a;
    padding: 50px;
}
.bike_experienceintro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.bike_experienceintro span{
    color: #83de2a;
}
.bike_experienceflex{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 50px auto;
    width: 80%;
    gap: 20px;
}
.bike_experienceflex .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.bike_experienceflex .cards:hover{
    box-shadow: 0 4px 15px #070e0018;
}
.bike_experienceflex .cards h3{
    margin: 20px auto;
}

.bike_experienceflex .cards img{
    border-radius: 50%;
    background-color: rgb(220 252 231 );
}

/* EVENTS */
.event{
    background-color:#e5e7eb5a ;
}
.event .event_intro h1,p{
   text-align: center;
}
.event_flex{
    display: flex;
    padding: 40px 30px;
    gap: 30px;
}
.event_cards{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: stretch;/* means that the card will align with the tallest card */
    margin: auto;
    gap: 20px;
}
.event_cards .card1{
    box-shadow: 0 4px 15px #83de2a; 
    padding: 20px;
    border-radius: 10px;
    width: 20%;
}
.event_cards .card2{
    box-shadow: 0 4px 15px #1e3048;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
}
.event_cards .card3{
    box-shadow: 0 4px 15px #f97316;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
}
.event_cards .card4{
    box-shadow: 0 4px 15px #e11d48;
    padding: 20px;
    border-radius: 10px;
    width: 20%;
}
.event_image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220 252 231 );
    border-radius: 20px;
}
.event_image img{
   padding: 20px;
   width: 70%; 
}
.shop .shop_intro h1,p{
    text-align: center;
    margin: 10px;
}
.shop_flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 20px;
}
.shop_flex img{
    object-fit: cover;
    margin-bottom: 30px;
    border-radius: 15px;
}
.shop_cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px #1310100e;
    padding: 20px;
    border-radius: 20px;
}
.shop_cards p{
    color: rgb(22 163 74);
    font-weight: 900;
}
.shop_cards a{
    background-color: #83de2a;
    padding: 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    text-align: center;
}
.shop_cards a:hover{
    background-color: #16a34a;
}
.contacts_intro h1,p{
    text-align: center;
    margin: 10px;
}
.contacts_flex{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 50px auto;
    gap: 20px;
    width: 70%;
}
.registration{
    box-shadow: 0 4px 15px #83de2a;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 12px;
    
}
.registration i{
    color: #83de2a;
    margin-right: 10px;
}
.registration a{
    background-color: #83de2a;
    padding: 10px 80px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.registration a:hover{
    background-color: #1e3048;
    color: white;
}
.contactinfo{
    box-shadow: 0 4px 15px #83de2a;
    width: 50%;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contactinfo h2{
    margin-bottom: 10px;
}
.info{
    display: flex;
    gap: 10px;
}
.info i{
    color: #83de2a;
}
.info a{
    text-decoration: none;
    color: rgb(121, 213, 241);
}
footer{
    background-color: #1e3048;
    color: white;
    padding: 30px 100px;
}
.footerA{
    display: flex;
    gap: 90px;
    align-items: center;
}
.footer_logo img{
    width: 50px;
}
.footer_logo h3{
    color: #83de2a;
}
.footer_links{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_links a{
    text-decoration: none;
    color: white;
}
.socials{
    margin-bottom: 90px;
}
.socials h2{
    margin-bottom: 10px;
}
.socials_flex{
    display: flex;
    gap: 20px; 
}
.footerB hr{
    margin-top: 40px;
}

@media (max-width: 768px){
    .about{
        flex-direction: column;
        width: 90%;
        padding: 20px;
    }
    .about h2, .about p{
        text-align: center;
    }
    .about .aboutusparagraph, .about .aboutusimage{
        width: 100%;
    }
    .bike_experienceflex{
        flex-direction: column;
        width: 90%;
    }
    .bike_experienceflex .cards{
        width: 100%;
    }
    .event_flex{
        flex-direction: column;
    }
    .event_cards{
        flex-direction: column;
        width: 100%;
    }
    .event_cards .card1, .event_cards .card2, .event_cards .card3, .event_cards .card4{
        width: 100%;
    }
    .shop_flex{
        flex-direction: column;
        width: 90%;
    }
    .contacts_flex{
        flex-direction: column;
        width: 90%;
    }
    .registration, .contactinfo{
        width: 100%;
    }
}
@media (max-width:480px){
    .event_cards .card1, .event_cards .card2, .event_cards .card3, .event_cards .card4{
        width: 5    0%;
    }
}














/* THE BIKE EXPERIENCE SECTION 
.bike_experience{
    background-color: gainsboro;
    padding: 4rem;
}
.bike_experienceintro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bike_experienceintro h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.bike_experience span{
    margin-right:10px;
    color: #83de2a;
}
.bike_experienceflex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}
.bike_experienceflex .cards{
    width: 20%;
    background-color: white;
}
 */
